{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="test-white my-5">About Page</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum cum assumenda accusantium sint reprehenderit pariatur optio dolor.
    Pariatur impedit dolore, adipisci, corrupti autem, non excepturi hic ullam ab error at exercitationem tempore! Maiores itaque veniam 
    et eos inventore quod, odit nostrum quos perspiciatis aut quaerat neque deleniti corrupti doloribus suscipit hic officiis, 
    voluptatum necessitatibus? Veniam, laborum perspiciatis ducimus optio minima magni quo harum qui numquam aut reprehenderit,
    eligendi voluptatum aspernatur a eius at libero. Qui maiores numquam magnam ipsa? Eveniet aut sint, aperiam fugiat hic illum dicta,
    corporis earum, consequuntur vitae modi sed nisi architecto voluptatum eum obcaecati esse enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque assumenda suscipit iste reprehenderit nemo incidunt at!
    Error commodi qui neque inventore beatae dolorum sed nulla, laudantium deserunt distinctio eveniet quae tempora numquam.
    Eos ut voluptate atque nemo quisquam incidunt deleniti culpa unde nam sint! Ea laudantium repellat tempora aperiam, a, 
    amet illum laborum praesentium minima odit optio illo laboriosam exercitationem facilis dignissimos mollitia accusamus 
    expedita quisquam consequatur enim ullam quos voluptatem eos officiis. Quis ab nihil quisquam obcaecati ad quasi dolorum rerum 
    consequuntur voluptas, delectus, doloribus assumenda! Ut, cum provident neque dolorem iste voluptate sequi necessitatibus, 
    atque et aspernatur debitis hic labore repellat nemo nulla qui rem quis, possimus nobis. Deleniti maiores beatae, voluptate consequatur,
    dignissimos ab possimus exercitationem suscipit quia, illum nam iure dolor debitis ut fugit architecto minima earum voluptatum? 
    Veritatis deserunt minima fugit quia nam doloremque nisi sequi, voluptate eveniet a asperiores corporis ad molestias aut distinctio ullam,
    necessitatibus magnam, laboriosam voluptatibus. Voluptates repellat autem doloribus architecto deserunt aperiam beatae nulla quibusdam
    quia nesciunt id at porro numquam nisi dolor excepturi quisquam consectetur nam, similique omnis non officia. Fugit in explicabo 
    veritatis minus pariatur doloribus unde architecto enim, ipsum officiis veniam, placeat reiciendis culpa labore odio eligendi?</p>
</div>
{% endblock content %}